<br />
<footer class="page-footer purple lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
         <h5><strong class="black-text">Contáctanos</strong></h5>
          <p class="black-text text-lighten-4">Para saber más sobre nosotros y nuestra página puedes visitar nuestras redes sociales.</p>
        </div>
        <div class="col l4 offset-l2 s12">
         <h5><strong class="black-text">Síguenos en redes sociales</strong></h5>
          <ul>
            <li><a class="black-text text-lighten-3" href="https://www.facebook.com/udecaldas/" target="_blank">Facebook</a></li>
            <li><a class="black-text text-lighten-3" href="https://twitter.com/udecaldas?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">Twitter</a></li>
            <li><a class="black-text text-lighten-3" href="https://www.instagram.com/udecaldas/?hl=esr" target="_blank">Instagram</a></li>
            <li><a class="black-text text-lighten-3" href="https://www.ucaldas.edu.co/portal/" target="_blank" >Universidad de Caldas</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright purple lighten-1">
      <div class="container">
      © Plataforma Matching 2020 - Desarrollado por AC-YV - Universidad de Caldas - Manizales - Colombia
      </div>
    </div>
  </footer>
      