<a routerLink= "/parameters/pais-creation" class=" btn #ab47bc waves-effect waves-light "><i class="material-icons left">add</i>Nuevo registro</a>
<br/>
<br/>
<table class="highlight responsive-table">
    <thead>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                Editar
            </td>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: itemsPageAmount, currentPage: page }">
           
            <td>
                {{r.Nombre}}
            </td>
            <td>
                <a routerLink= "/parameters/pais-edition/{{r.id}}" routerLinkActivate = "router-link-activate" class=" btn #ab47bc waves-effect waves-light "><i class="material-icons left">edit</i>Editar</a>

             </td>
             
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
<ngx-spinner></ngx-spinner> 
