<br/>
<fieldset>   
    <!-- Contenedor Principal -->
    <div class="comments-container">
        <h1>Testimonios </h1>

        <ul id="comments-list" class="comments-list">
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="https://www.cdc.gov/preconception/spanish/images/man-with-arms-crossed.jpg" alt=""></div>
                    <!-- Contenedor del testimonio -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                            <span>hace 20 minutos</span>
                            <i class="material-icons">reply</i>
                            <i class="material-icons">favorite</i>
                        </div>
                        <div class="comment-content">
                            Hola! Me encantaría recomendar este sitio web, conocí a una chica hace unos años por este medio, hoy estamos cumpliendo 5 años de casados! Ha sido la mejor decisión de mi vida.
                        </div>
                    </div>
                </div>
                <!-- Respuestas de los testimonios -->
                <ul class="comments-list reply-list">
                    <li>
                        <!-- Avatar -->
                        <div class="comment-avatar"><img src="https://www.mujerhoy.com/noticias/201706/14/media/cortadas/por-que-algunas-mujeres-tardan-en-llegar-al-orgasmo-kiLE-U301072963448EjF-560x420@MujerHoy.jpg" alt=""></div>
                        <!-- Contenedor del testimonio-->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name"><a href="http://creaticode.com/blog">Yeraldin Rojero</a></h6>
                                <span>hace 10 minutos</span>
                                <i class="material-icons">reply</i>
                            <i class="material-icons">favorite</i>
                            </div>
                            <div class="comment-content">
                               Oh Agustín, que historia tan conmovedora. Yo recién entre al sitio, espero tener tanta suerte como tú!
                            </div>
                        </div>
                    </li>

                    <li>
                        <!-- Avatar -->
                        <div class="comment-avatar"><img src="https://televisa.brightspotcdn.com/dims4/default/5690a49/2147483647/strip/true/crop/807x606+186+3/resize/818x614!/quality/90/?url=https%3A%2F%2Ftelevisa-brightspot.s3.amazonaws.com%2Fapi%2F08%2F1a%2Fc7fd3d564e6ba71568e23d133a7f%2Fhombre-con-rostro-dulce.jpg" alt=""></div>
                        <!-- Contenedor del testimonio -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name "><a href="http://creaticode.com/blog">Juan Arias</a></h6>
                                <span>hace 5 minutos</span>
                                <i class="material-icons">reply</i>
                            <i class="material-icons">favorite</i>
                            </div>
                            <div class="comment-content">
                                Oh por dios! Que historia tan linda! Yo recién empecé una relación por este medio, espero tener tu suerte.
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="https://images.clarin.com/2015/03/20/claima20150320-8312-thinkstock-photos-mujer___HkwKuZR7x_340x340.jpg" alt=""></div>
                    <!-- Contenedor del testimonio -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name  by-author"><a href="http://creaticode.com/blog">Manuela Arroyave</a></h6>
                            <span>hace 30 minutos</span>
                            <i class="material-icons">reply</i>
                            <i class="material-icons">favorite</i>
                        </div>
                        <div class="comment-content">
                            Esta aplicación se ha llevado mis tristes días solitarios y los ha convertido en días rosas donde cada persona puede ser el posible amor de mi vida! Son los mejores.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <br/>
</fieldset>
