

<fieldset>
    <div class="row">
        <form [formGroup] = "fgValidator" class="col s12" id="reg-form">
            <div class="row">
                <h4 align ="left"><strong>Registrate</strong></h4>
                <p align ="left">Por favor, introduce tus datos en los espacios requeridos.</p>
            </div>
          <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix" >account_circle </i>
                <input id="nombre" formControlName ="nombre" type="text" >
              <label for="nombre">Nombre</label>
              <div class="warning-validator" *ngIf="fgv.nombre.errors && (fgv.nombre.dirty || fgv.nombre.touched)">
                <strong *ngIf="fgv.nombre.errors?.required">
                  this field is required.
                </strong>
                <strong *ngIf="fgv.nombre.errors.minlength">
                  this field must be at least {{nombreMinLength}} long.
                </strong>

              </div>  
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">mail_outline </i>
                <input id="correo" formControlName ="correo" type="email" >
                <label for="correo">Correo electrónico</label>
                <div class="warning-validator" *ngIf="fgv.correo.errors   && (fgv.correo.dirty || fgv.correo.touched)">
                  <strong *ngIf="fgv.correo.errors.required">
                    this field is required.
                  </strong>
                  <strong *ngIf="fgv.correo.errors.correo ">
                    this field must be a correct correo format.
                  </strong>
                </div>  
              </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix"> phone_iphone</i>
                <input id="phone" formControlName ="phone" type="text" >
                <label for="phone">Telefóno</label>
                <div class="warning-validator" *ngIf="fgv.phone.errors   && (fgv.phone.dirty || fgv.phone.touched)">
                  <strong *ngIf="fgv.phone.errors.required">
                    this field is required.
                  </strong>
                  <strong *ngIf="fgv.phone.errors.minlength">
                    this field must be at least 12 long.
                  </strong>
                  <strong *ngIf="fgv.phone.errors.maxlength">
                    this field must be at least 14 long.
                  </strong>
  
  
                </div>  
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">wc</i>
                <input id="orientacionSexual" formControlName ="orientacionSexual" type="text" >
                <label for="orientacionSexual">orientacion Sexual</label>
                <div class="warning-validator" *ngIf="fgv.orientacionSexual.errors   && (fgv.sexo.dirty || fgv.sexo.touched)">
                  <strong *ngIf="fgv.orientacionSexualerrors.required">
                    this field is required.
                  </strong>
                </div>
              </div>
              
            <div class="input-field col s6">
                <i class="material-icons prefix">wc</i>
                <input id="sexo" formControlName ="sexo" type="text" >
                <label for="sexo">Sexo</label>
                <div class="warning-validator" *ngIf="fgv.sexo.errors   && (fgv.sexo.dirty || fgv.sexo.touched)">
                  <strong *ngIf="fgv.sexo.errors.required">
                    this field is required.
                  </strong>
                  <strong *ngIf="fgv.sexo.errors.minlength">
                    this field must be min 8 long.
                  </strong>
                  <strong *ngIf="fgv.sexo.errors.maxlength">
                    this field must be max 9 long.
                  </strong>
  
  
                </div>  
            </div>
         
            
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">date_range</i> 
                  <input id="fechaNacimiento" formControlName ="fechaNacimiento" type="text" >
                    <label for="fechaNacimiento">Fecha de nacimiento</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix"> library_books</i>
                    <input id="escolaridad" type="text" >
                    <label for="escolaridad">Nivel de escolaridad</label>
                </div>
  
            </div> 
          </div>
          <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">favorite_border </i>
                <input id="estadoCivil" formControlName ="estadoCivil" type="text" >
                <label for="estadoCivil">Estado estadoCivil</label>
                <div class="warning-validator" *ngIf="fgv.estadoCivil.errors   && (fgv.estadoCivil.dirty || fgv.estadoCivil.touched)">
                  <strong *ngIf="fgv.estadoCivil.errors.required">
                    this field is required.
                  </strong>
                  <strong *ngIf="fgv.estadoCivil.errors.minlength">
                    this field must be at least 4 long.
                  </strong>
                </div>  
              </div>
  
              <div class="input-field col s6">
                <i class="material-icons prefix">card_travel</i>
                <input id="ocupacion" type="text" >
                <label for="ocupacion">Ocupación</label>
              </div>
            </div>
              <div class="row">
                <div class="input-field col s4">
                    <p>
                        <label>
                          <input type="checkbox" class="hijos" />
                          <span>¿Tienes hijos?</span>
                        </label>
                      </p>
                    </div>
                    <div class="input-field col s4">
                      <p>
                        <label>
                          <input type="checkbox" class="fumador"  />
                          <span>¿Eres fumador?</span>
                        </label>
                      </p>
                    </div>
                    <div class="input-field col s4">
                      <p>
                        <label>
                          <input type="checkbox" class="bebedor"/>
                          <span>¿Eres bebedor?</span>
                        </label>
                      </p>
                      </div>
  
  
                </div>
  
  
        <div class="row">
            <div class="center" >
              <button  (click) = "PerfilRegisterFn()" class="btn btn-large btn-register waves-effect waves-light" type="button" name="action">Registrate
                <i class="material-icons right">done</i>
              </button>
            </div>
        </div>
        </form>
      </div>
</fieldset> 