
<fieldset>
  <legend>Imagenes de perfiles</legend>
  <div class="row">
    <form [formGroup] = "fgValidator">
    <div class="row">
      <div class="col s6 m6">
    <div class="file-field input-field">
      <div class="btn">
        <span>Imagen</span>
        <i class="material-icons right">add_a_photo</i>
        <input type="file" (change) ="onFileSelect($event)">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
        </div>
    </div>
    <input type="hidden" formControlName="ruta" />
      
    </div>
    <div class="input-field col s3">
      <input formControlName ="order" id="order" type="number"  >
      <label for="order">Orden</label>
    </div>
    <div class="input-field col s3">
      <button class="btn waves-effect waves-light" (click)="UploadImageFn() " type="button" name="action">Subir
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  </form>
  </div>
    <div class="row">
      <div *ngFor ="let i of imagesList" class="col s3 m76">
          <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://localhost:3000/files/1/{{i.id}}" class= "perfilImage">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Order: {{i.order}}<i class="material-icons right">more_vert</i></span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">comment</i></a>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite</i></a>
        <button class="btn waves-effect waves-light" (click)="RemoveConfirmation(i.id)" type="button" name="action">Eliminar
          <i class="material-icons right">delete</i>
        </button>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
          </div>
      </div>

  </div>
</fieldset>

 <!-- Modal Structure -->
 <div id="removeConfirmationModal" class="modal">
  <div class="modal-content">
    <h4>Confirmación de eliminación</h4>
    <p >¿Estás seguro de eliminar esta imagen?</p>
  </div>
  <div class="modal-footer">
      <button (click)="RemoveImage() " class="btn red waves-effect waves-light" type="button" >Confirmar
          <i class="material-icons left">delete</i>
        </button>      <a  class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
  
  </div>
</div>

