<fieldset>
    <legend>Edición de estados civiles</legend>
<div class="row">
    <form class="col s12" [formGroup]= "fgValidator">
        <input type="hidden" formControlName="id"/>
      <div class="row">
        <div class="input-field col s6">
          <input  id="tipo" formControlName="tipo" type="text" class="validate">
          <label class="active" for="tipo">Nombre</label>
          <div class="warning-validator" *ngIf="fgv.tipo.errors && (fgv.tipo.dirty || fgv.tipo.touched)">
            <strong *ngIf="fgv.tipo.errors.required">
              Este campo es requerido.
            </strong>
        </div>
      </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="button" (click)="editRecord()" name="action">Guardar
                <i class="material-icons right">send</i>
              </button>
                &nbsp;&nbsp;
            <a routerLink= "/parameters/estado-civil-list"  class="waves-effect waves-light btn red"><i class="material-icons left">cancel</i>Cancelar</a>
           
          </div>
      </div>
    </form>
  </div>
</fieldset>
